*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}
body{
  background: linear-gradient(120deg, #0884d6, #cbd6dd);
}
.main{
  width: 100%;
  max-width: 400px;
  margin: 200px;
}

#head{
  font-size: 48px;
  font-weight: 600;
  color: white;
  margin-bottom: 40px;
}
.head-text{
  color: rgb(233, 233, 7);
  display: inline-block;
  margin-top: 10px;
}

.item{
  border-radius: 10px;
  background: rgb(253, 253, 253, 0.4);
  padding: 20px 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#year{
  border-radius: 10px;
  border: none;
  background: white;
  padding: 20px 70px 20px 20px;
  display: flex;
  justify-content: flex-end;
}
#year::placeholder{
  color: black;
  font-weight: 400;
}
#btn{
  border-radius: 10px;
  background: rgb(233, 233, 7);
  padding: 15px 25px;
  border: none;
  cursor: pointer;
}
